<td>
  {{input type='text' class='form-control' value=name placeholder='Nom...'}}
</td>
<td>
  {{input type='text' class='form-control' value=description placeholder='Description...'}}
</td>
<td>
  <div class="field">
    {{ui-calendar type="date" date=model.newProject.startDate onChange=(action (mut model.newProject.startDate)) placeholder="Date de début"}}
  </div>
</td>
<td>
  <div class="field">
    {{ui-calendar startDate=model.newProject.startDate type="date" date=model.newProject.dueDate onChange=(action (mut model.newProject.dueDate)) placeholder="Date de fin"}}
  </div>
</td>
<td>
  {{#power-select
    selected=owner
    placeholder='Propriétaire...'
    options=owners
    onchange=(action (mut owner))
    onfocus=(action "handleFocus")
    as |listOwners|
  }}
    {{listOwners}}
  {{/power-select}}
</td>
<td><!-- Bouton d'ajout d'un projet -->
  {{#bs-button class='btn btn-success btn-md ecart' onClick=(action "createProject")}}
    <i class="fa fa-plus"></i> Ajouter
  {{/bs-button}}
</td>
