<div class="container">
  <form class="well form-horizontal">
    <fieldset>
      <legend><center><h1><b><i class="fa fa-folder-open"></i> Tableau de bord de {{model.developer.identity}}</b></h1><br></center></legend>

      {{#bs-tab as |tab|}}
        {{#tab.pane title="Profil"}}<br>
          {{#if (eq connectedIdentity model.developer.developer_id)}}
            {{developers/updating-developer developer=model.developer}}
          {{else}}
            {{developers/noupdating-developer developer=model.developer}}
          {{/if}}
        {{/tab.pane}}

        {{#tab.pane title="Projets Crées"}}<br>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="col-xs-2">Nom</th>
                <th class="col-xs-2">Description</th>
                <th class="col-xs-2">Date de début</th>
                <th class="col-xs-2">Date butoire</th>
                <th class="col-xs-2">Propriétaire</th>
                <th class="col-xs-2"></th>
              </tr>
            </thead>
            {{projects/listing-project projects=model.projects connectedIdentity=model.connectedIdentity devPOV=model.developer.identity typeProjet="Créations" }}
          </table>
        </div>
        {{/tab.pane}}

        {{#tab.pane title="Projets contribués"}}<br>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="col-xs-2">Nom</th>
                <th class="col-xs-2">Description</th>
                <th class="col-xs-2">Date de début</th>
                <th class="col-xs-2">Date butoire</th>
                <th class="col-xs-2">Propriétaire</th>
                <th class="col-xs-2"></th>
              </tr>
            </thead>
            {{projects/listing-project projects=model.projects connectedIdentity=model.model.connectedIdentity devPOV=model.developer.identity typeProjet="Contributions" }}
          </table>
        </div>
        {{/tab.pane}}

        {{#tab.pane title="Projets prioritaires"}}<br>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="col-xs-2">Nom</th>
                <th class="col-xs-2">Description</th>
                <th class="col-xs-2">Date de début</th>
                <th class="col-xs-2">Date butoire</th>
                <th class="col-xs-2">Propriétaire</th>
                <th class="col-xs-2"></th>
              </tr>
            </thead>
            {{projects/listing-project projects=model.projects connectedIdentity=model.connectedIdentity devPOV=model.developer.identity typeProjet="Prioritaires" }}
          </table>
        </div>
        {{/tab.pane}}
      {{/bs-tab}}


    </fieldset>
  </form>
</div>
{{outlet}}
